# 8.1 Iterators

In [16]:
# 8.1.1 Iterables

In [1]:
stocks = ('AAPL', 'MSFT', 'AMZN')
iterator = iter(stocks)

In [2]:
next(iterator)

'AAPL'

In [3]:
next(iterator)

'MSFT'

In [4]:
iterator.__next__()

'AMZN'

In [5]:
next(iterator)

StopIteration:

In [6]:
# We use the next() function to iterate manually through all the items of
# an iterator. Also, the next() function will implicitly call the __next__()
# method of an iterator as seen in the above example. It will raise
# StopIteration error once we reach the end and there is no more data to be
# returned.

In [ ]:
# We can iterate manually through other iterables like strings and list, in
# the manner similar to one we used to iterate over the tuple int the above
# example. The more elegant and automated way is to use a for loop. The
# for loop actually creates an iterator object and executes the next() method
# for each loop.

In [7]:
# We are now going to dive a bit deeper into the world of iterators and iter-
# ables by looking at some handy functions viz. the enumerate(), zip() and
# unzip() functions.

# 8.1.2 enumerate() function

In [15]:
# The enumerate() function takes any iterable such as a list as an argument
# and returns a special enumerate object which consists of pairs containing an
# element of an original iterable along with their index within the iterable.
# We can use the list() function to convert the enumerate object into a list
# of tuples. Letâ€™s see this in practice.

In [9]:
stocks = ['AAPL', 'MSFT', 'TSLA']
en_object = enumerate(stocks)
en_object

In [10]:
list(en_object)

[(0, 'AAPL'), (1, 'MSFT'), (2, 'TSLA')]

In [11]:
# The enumerate object itself is also iterable, and we can loop over while unpacking its elements using the following clause.
for index, value in enumerate(stocks):
    print(index, value)

0 AAPL
1 MSFT
2 TSLA

In [12]:
# It is the default behaviour to start an index with 0. We can alter this 
# behaviour using the start parameter within the enumerate() function.

In [13]:
for index, value in enumerate(stocks, start= 10):
    print(index, value)

10 AAPL
11 MSFT
12 TSLA

# 8.1.3 The zip()function

In [17]:
# The zip() function accepts an arbitrary number of iterables and returns a
# zip object which is an iterator of tuples. Consider the following example:

In [18]:
company_names = ['Apple', 'Microsoft', 'Tesla']
tickers = ['AAPL', 'MSFT', 'TSLA']

z = zip(company_names, tickers)

print(type(z))

<class 'zip'>

In [19]:
# Here, we have two lists company_names and tickers. Zipping them together creates a zip object which can be 
# then converted to list and looped over.

z_list = list(z)
z_list

[('Apple', 'AAPL'), ('Microsoft', 'MSFT'), ('Tesla', 'TSLA')]

In [20]:
# The first element of the z_list is a tuple which contains the first element
# of each list that was zipped. The second element in each tuple contains the
# corresponding element of each list that was zipped and so on. Alternatively,
# we could use a for() loop to iterate over a zip object print the tuples.

In [21]:
for company, ticker in z_list:
    print(f'{ticker} = {company}')

AAPL = Apple
MSFT = Microsoft
TSLA = Tesla

In [22]:
# We could also have used the splat operator(*) to print all the elements.

In [24]:
print(*z_list)

('Apple', 'AAPL') ('Microsoft', 'MSFT') ('Tesla', 'TSLA')